footer {
  margin: 15px 6px;
  @include media("print") {
    margin: 0;
    display: none;
    visibility: hidden;
  }
  a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(144, 117, 219);
  }
  p {
    text-align: center;
  }
}
